{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'doctors' %}{% endblock %}
{% block content %}
    <!-- portfolio -->
    <section class="section doctors">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h2>{% trans 'doctors' %}</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>We provide a wide range of creative services adipisicing elit. Autem maxime rem modi eaque,
                            voluptate. Beatae officiis neque </p>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center  mb-5">
                <div class="btn-group btn-group-toggle " data-toggle="buttons">
                    <label class="btn active ">
                        <input type="radio" name="shuffle-filter" value="all" checked="checked"/>{% trans 'All Department' %}
                    </label>
                    <label class="btn ">
                        <input type="radio" name="shuffle-filter" value="cat1"/>{% trans 'Cardiology' %}
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="cat2"/>{% trans 'Dental' %}
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="cat3"/>{% trans 'Neurology' %}
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="cat4"/>{% trans 'Medicine' %}
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="cat5"/>{% trans 'Pediatric' %}
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="cat6"/>{% trans 'Traumatology' %}
                    </label>
                </div>
            </div>

            <div class="row shuffle-wrapper portfolio-gallery">
                {% for doctor in doctor_list %}

                    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item"
                         data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">
                        <div class="position-relative doctor-inner-box">
                            <div class="doctor-profile">
                                <div class="doctor-img">
                                    {% if doctor.image %}
                                        <img src="{{ doctor.image.url }}" alt="doctor-image" class="img-fluid w-100">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="content mt-3">
                                <h4 class="mb-0"><a
                                        href="{% url 'doctor_detail' doctor.id %}">{{ doctor.name }} {{ doctor.last_name }}</a>
                                </h4>
                                <p>{{ doctor.speciality }}</p>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></li>
                {% endif %}
                   {% for page in paginator.page_range %}
                     {% if paginator.num_pages != page %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}
                {% if page_obj.has_next and paginator.num_pages != page_obj.next_page_number %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </section>
    <!-- /portfolio -->
    <section class="section cta-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="cta-content">
                        <div class="divider mb-4"></div>
                        <h2 class="mb-5 text-lg">{% trans 'We are pleased to offer you the' %} <span class="title-color">{% trans 'chance to have the healthy' %}</span>
                        </h2>
                        <a href="appoinment.html" class="btn btn-main-2 btn-round-full">{% trans 'Get appointment' %}<i
                                class="icofont-simple-right  ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
