{% extends '_base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <h3>{% translate "Doctor's Pavilion" %}</h3>
        <br><br>
        <a href='{% url 'doctor_info' %}' class="btn btn-primary">complete your info</a>
            <br><br>
        <a href='{% url 'doctor_appointments' %}' class="btn btn-secondary">visit yor appointments</a>
            <br><br>
        <a href='{% url 'doctor_update_info' %}' class="btn btn-dark">Update your info</a>
    </div>

{% endblock %}