{% extends '_base.html' %}
{% block titel %}services list{% endblock %}
{% block content %}
    <div class="container">

        <form method="post" action="">
            {% csrf_token %}
            <select class="form-select" aria-label="Default select example" name="service">
              <option selected>Choose a service</option>
              <option value="dentistry">dentistry</option>
              <option value="orthopedic">orthopedic</option>
              <option value="nursing_care">nursing care</option>
            </select>
            <br>
            <div class="container mt-3 justify-content-center">
                <button type="submit" class="btn btn-success">submit</button>
            </div>
        </form>
    </div>
{% endblock %}